body{
  background-image: url(wp1828920.jpg);
  background-position:-120px -200px;
  background-repeat: no-repeat;
  background-size:cover;
}
.on{
  text-decoration: none;
  color:red;
  font-size: 15px;
  text-align: center;
  }
.on:hover{
  color:cyan;
}
.butt{
  width:150px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  margin-left: 650px;
}
.footer{
  text-align: center;
  position:absolute;
  bottom:0;
  color:orange;
  font-size: 25px;
  font-family: serif;
  line-height:1px;
  display:inline-block;
  width:auto;
  margin-left:1150px;
}
.footer:hover{
  color:white;
}
