h1 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
  font-variant: small-caps;
  text-transform: capitalize;
  word-spacing: 5px;
  text-align: center;
}

.special {
  font-family: cursive;
  font-weight: bold;
}

.hihi {
  color: orange;
  text-decoration: none;
}

.hihi:hover {
  color: red;
}

body {
  background-color: purple;
}

h2 {
  font-variant: small-caps;
  text-transform: capitalize;
  font-weight: normal;
  color: red;
  word-spacing: 3px;
  font-family: cursive;
  font-size: 22px;
}

p {
  font-weight: lighter;
  color: orange;
  word-spacing: 8px;
  font-family: fantasy;
  font-size: 18px;
}

h3 {
  font-family: serif;
  font-size: 20px;
  color: yellow;
  word-spacing: 4px;
  text-align: left;
}

ol {
  text-align: left;
  color: yellow;
}

.boom {
  display: inline-block;
  margin: auto;
}

.sec {
  background-color: orange;
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  display: inline-block;
  text-align: center;
}

.sec:hover {
  color: green;
}

.thir {
  background-color: cyan;
  background-size: auto;
  text-decoration: none;
  font-family: cursive;
  font-size: 15px;
  display: inline-block;
}

.thir:hover {
  color: orange;
}

.button {
  text-align: center;
  word-spacing: 5px;
  margin-left: 7px;
}

.button1 {
  background-color: cyan;
}
.button2 {
  background-color: orange;
}
